@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Jacques Francois', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(49, 49, 49);
}

.home {
  background-color: rgb(247, 247, 247);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.homeContainer {

  height: 80%;
  width: 90%;

  margin-bottom: 5%;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  display: grid;
}


.cornell {
  color:rgb(255, 28, 28);
  font-size: 6vw;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;

  grid-column: 1 / span 3;
  grid-row: 2;
}

.arc {
  color: dimgray;
  font-size: 6vw;
  text-align: right;
  padding-right: 20px;

  grid-column: 2 / span 2;
  grid-row: 3 / span 3;
}

.exp {
  color:dimgray;
  font-size: x-large;
  text-align: center;
  align-self: center;
  padding-left: 10px;
  padding-top: 15px;
  width: 80%;

  grid-column: 4 / span 3;
  grid-row: 5;
}

.drone {

  width: 80%;
  height: 80%;
  margin-left: 20px;

  border-radius: 10px 10px 10px 10px;

  grid-column: 4 / span 3;
  grid-row: 2 / span 4;
}

.rec1 {
  height: 70%;
  width: 3px;

  align-self: center;

  background-color: rgb(255, 28, 28);
  border-radius: 10px 10px 10px 10px;

  grid-column: 4;
  grid-row: 1 / span 6;
}

.rec2 {
  height: 3px;
  width: 80%;
  margin-left: 20%;

  background-color: dimgray;
  border-radius: 10px 0px 0px 10px;

  grid-column: 1 / span 3;
  grid-row: 3;
}

.aboutContainer {
  background-color: #D9D9D9;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  height: 50vh;
  width: 40vw;
  margin: auto auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  display: grid;
}

.aboutUs {

  grid-column: 2 / span 4;
  grid-row: 1 / span 2;

  text-align: left;
  align-self: center;
}

.aboutText {
  font-size: medium;
  text-align: left;
  align-self: center;
  grid-column: 2 / span 4;
  grid-row: 2 / span 4;
}

.teamPhoto {
  border-radius: 10px 10px 10px 10px;
  height: auto;
  width: 40vw;
  margin: 5vw;
}

.rec3 {
  height: 90%;
  width: 3px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;

  margin: auto auto;
  grid-column: 1;
  grid-row: 1 / span 5;
}

.teamsContainer {
  background-color: #1E1E1E;

  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  height: 40vh;
  width: 40vw;
  margin: auto auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  display: grid;
}

.bottom {

}

.teams {
  color: white;
  text-align: left;
  align-self: center;
  grid-column: 2 / span 3;
  grid-row: 1;
}

.teamName {
  color: white;
  grid-column: 2 / span 4;
  grid-row: 2;

  text-align: left;
  align-self: center;
}

.teamText {
  color: white;
  font-size: medium;
  text-align: left;
  align-self: baseline;
  grid-column: 2 / span 4;
  grid-row: 3 / span 2;
}

.rec4 {
  height: 90%;
  width: 3px;
  background-color: rgb(255, 28, 28);

  margin: auto auto;
  grid-column: 1;
  grid-row: 1 / span 4;
}

.left {
  visibility: hidden;
}

.teamBottom {
  height: 30vh;
  width: 40vw;
  margin: auto auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  display: grid;
}

.teamNameBottom {
  color: white;
  grid-column: 2 / span 4;
  grid-row: 1;

  text-align: left;
  align-self: center;
}

.teamRight {
  height: 30vh;
  width: 40vw;

  margin: auto auto;
  margin-top: 10vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  display: grid;
}

.teamTextBottom {
  color: white;
  font-size: medium;
  text-align: left;
  align-self: baseline;
  grid-column: 2 / span 4;
  grid-row: 2 / span 2;
}

.etn {
  grid-column: 1 / span 4;
}


.et {
  grid-column: 1 / span 4;
}




.competitionContainer{
  background-color: #D9D9D9;

  display: flex;
  align-items: center;
  justify-content: center;
}

.competition {
  height: 60vh;
  width: 40vw;
  margin: auto auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  display: grid;
}

.rec5 {
  height: 90%;
  width: 3px;
  margin: auto auto;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  grid-column: 1;
  grid-row: 1 / span 6;
}

.thecomp {
  text-align: left;
  align-self: last baseline;
  grid-column: 2 / span 4;
  grid-row: 1;
}

.mission {
  text-align: left;
  align-self: center;
  grid-column: 2 / span 4;
  grid-row: 2;
}

.compText {
  text-align: left;
  align-self: baseline;
  grid-column: 2 / span 4;
  grid-row: 3 / span 3;
}

.compInfo
{
  text-align: left;
  align-self: center;
  grid-column: 2 / span 4;
  grid-row: 6;
}


.competitionVisual {
  height: 60vh;
  width: 40vw;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recruitment {
  background-color: white;
  height: 100vh;
  width: 100vw;
}







.navbar{
  position:fixed;  
  z-index:1;
  width:100%;
  height:50px;
  text-align:center;
  vertical-align:middle;
  line-height:50px;
  top:0px;
  transition: all 0.3s ease;
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 0;
    
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}

.navbar .content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .menu-list{
display: inline-flex;
}

.menu-list li{
list-style: none;
}

.menu-list li a{
color: dimgray;
font-size: 20px;
font-weight: 500;
margin: auto 15px;
text-decoration: none;
transition: all 0.3s ease;
}

.menu-list li a:hover{
color: rgb(255, 28, 28);
}

.underline {
  border-bottom: 3px solid rgb(255, 28, 28);
}

@media screen and (orientation: portrait) {
  .home 
  {
    height: 60vh;
  }

  .about
  {
    height: 40vh;
    width: 100vw;
  }
  .exp {
    padding-left: 20px;
    padding-top: 0;
    grid-row: 5;
    font-size: medium;
  }

  .drone {
    height: 70%;
  }

  .cornell {
    font-size: 8vw;
  }

  .arc {
    font-size: 8vw;
    grid-column: 1 / span 3;
  }

  .homeContainer {
    margin-bottom: 0%;
  }

  .rec1 {
    height: 80%;
  }

  .aboutContainer {
    display: block;
  }

  .about {
    width: 80vw;
  }

  .aboutUs {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    text-align: left;
    align-self: center;
    margin-left: 15px;
  }

  .aboutText 
  {
    font-size: x-small;
    grid-column: 1 / span 5;
    margin-left: 15px;
  }

  .teamPhoto {
    height: auto;
    width: 80vw;
    margin: 0 0;
    margin-left: 10vw; 
    margin-right: 10vw;
    margin-bottom: 20px;
  }

  .rec3
  {
    width: 3px;
    margin: auto 0;

    height: 80%;
  }

  .navbar {
    display: none;
  }

  .teamsContainer
  {
    display: block;
  }

  .team {
    width: 80vw;
  }

  .teamName {
    grid-column: 1 / span 4;
    margin-left: 15px;
  }

  .teams {
    grid-column: 1 / span 4;
    margin-left: 15px;
  }

  .teamText {
    grid-column: 1 / span 5;
    margin-left: 15px;
  }

  .rec4{
    margin: auto 0;
  }

  .teamRight {
    width: 80vw; 
    margin: auto auto;
  }

  .et {
    grid-column: 1 / span 5;
    margin-left: 15px;
  }

  .teamBottom {
    width: 80vw;
  }
  .teamNameBottom {
    grid-column: 1 / span 4;
    margin-left: 15px;
  }

  .teamTextBottom {
    grid-column: 1 / span 5;
    margin-left: 15px;
  }

  .left {
    visibility: visible;
  }

}

@media screen and (max-width: 500) {
  .navbar {
    display: none;
  }

}





@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



